img{
    width: 200px;
    border-radius: 30%;
    padding: 3px;

}
.card{
    /* margin: 5px */
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.card h2{
    text-align: right;
}
.organizar{
    display: flex;
    flex-direction: left;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
    border: 3px yellow solid; 
}

.vermelho{
    border: 3px red solid;    
}
.azul{
    border: 3px blue solid;    
}
.verde{
    border: 3px green solid;    
}